{% extends "layout/base.html" %}

{% load static %}

{% block content %}

    <div class="fr-container-fluid">
        <div class="fr-container">

            <ul class="fr-btns-group fr-btns-group--inline fr-mt-5w">
                <li>
                    <button type="button" class="fr-btn" id="operations">
                        Opérations
                    </button>
                    {% include "common/utils/onclick_redirect.html" with id='operations' url_target='operations:operation_list' %}
                </li>
                <li>
                    <button type="button" class="fr-btn fr-btn--secondary"  id="conventions">
                        Conventions
                    </button>
                    {% include "common/utils/onclick_redirect.html" with id='conventions' url_target='operations:convention_list' %}
                </li>
            </ul>



            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 ">
                        {% if operations %}
                            <div class="fr-table fr-table--bordered">
                                <table>
                                    <caption>{{operations|length}} Opérations</caption>
        
                                    <thead>
                                        <tr>
                                            <th scope="col">Bailleur</th>
                                            <th scope="col">Administration</th>
                                            <th scope="col">Nom de l'opération</th>
                                            <th scope="col" class="col__width--140">Action</th>
                                            <th scope="col" class="col__width--140">Conventions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for operation in operations %}
                                            <tr>
                                                <td>{{operation.bailleur}}</td>
                                                <td>{{operation.administration}}</td>
                                                <td>{{operation.nom}}</td>
                                                <td>
                                                    <a class="fr-link fr-mb-1w" href="{% url 'operations:update' pk=operation.id %}" >
                                                        <span class="fr-fi-edit-line" aria-hidden="true"></span>
                                                    </a>
                                                    <a class="fr-link fr-mb-1w" href="{% url 'operations:delete' pk=operation.id %}" >
                                                        <span class="fr-fi-delete-line" aria-hidden="true"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if operation.nb_plai %}
                                                        <a class="fr-link fr-mb-1w" href="https://staging.apilos.beta.gouv.fr/conventions/operation/{{ operation.apilos_uuid }}/PLAI" target="_blank">
                                                            {{operation.nb_plai}} PLAI&nbsp;<span class="fr-fi-eye-line" aria-hidden="true"></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if operation.nb_plus %}
                                                        <a class="fr-link fr-mb-1w" href="https://staging.apilos.beta.gouv.fr/conventions/operation/{{ operation.apilos_uuid }}/PLUS" target="_blank">
                                                            {{operation.nb_plus}} PLUS&nbsp;<span class="fr-fi-eye-line" aria-hidden="true"></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if operation.nb_pls %}
                                                        <a class="fr-link fr-mb-1w" href="https://staging.apilos.beta.gouv.fr/conventions/operation/{{ operation.apilos_uuid }}/PLS" target="_blank">
                                                            {{operation.nb_pls}} PLS&nbsp;<span class="fr-fi-eye-line" aria-hidden="true"></span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>Vous n'avez pas encore d'opérations...</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-my-5w">
                    <button class="fr-btn" id="new_operation">
                        <span class="fr-fi-edit-line fr-mr-1w" aria-hidden="true"></span>Créer une nouvelle operation
                    </button>
                    {% include "common/utils/onclick_redirect.html" with id='new_operation' url_target='operations:create' %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
