{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}APiLos, la plateforme de conventionement des logements sociaux{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner" id="main">
        <div class="fr-container fr-my-2w">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-6 fr-col-offset-lg-1 fr-mb-2w">
                    {% include "layout/teasers/main_presentation.html" %}
                </div>
                <div class="fr-col-12 fr-col-lg-5 fr-pl-0 fr-pl-md-4w">
                    <figure class="fr-content-media fr-my-0">
                        <img width=100% height=100% src="{% static "img/immeuble2.jpeg" %}" class="content__homepage-image">
                    </figure>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
