{% load static %}

<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            {% if user.is_authenticated %}
                                </li>
                                <button class="fr-btn fr-fi-close-circle-line" id='logout'></button>
                                {% include "common/utils/onclick_redirect.html" with id='logout' url_target='cas_ng_logout'  url_params='?next=/' %}
                            {% else %}
                                <button class="fr-btn fr-fi-edit-line" id='login'></button>
                                {% include "common/utils/onclick_redirect.html" with id='login' url_target='cas_ng_login' %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - APiLos">
                            <p class="fr-header__service-title">SIAP</p>
                        </a>
                        <p class="fr-header__service-tagline">Simulateur de plateforme SIAP</p>
                    </div>
                </div>
                {% if not without_action_button %}
                    <div class="fr-header__tools">
                        <div class="fr-header__tools-links">
                            {% if user.is_authenticated %}
                                <ul class="fr-links-group">
                                    <li class="fr-mx-2w">
                                        Bonjour&nbsp;
                                        <strong>{{ user }}</strong>
                                    </li>
                                    <li>
                                        <button class="fr-btn  fr-btn--secondary" id='cerbere_logout'>
                                            <span class="fr-fi-account-line fr-mr-1w" aria-hidden="true">
                                            </span>Cerbere logout
                                        </button>
                                        {% include "common/utils/onclick_redirect.html" with id='cerbere_logout' url_target='cas_ng_logout'  url_params='?next=/' %}
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="fr-links-group">
                                    <li class="fr-mx-3w">
                                        <button class="fr-btn" id='cerbere_login'>
                                            <span class="fr-fi-account-line fr-mr-1w" aria-hidden="true">
                                            </span>Cerbere login
                                        </button>
                                        {% include "common/utils/onclick_redirect.html" with id='cerbere_login' url_target='cas_ng_login' %}
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
