{% extends "layout/base.html" %}

{% block page_title %}Conditions générales d'utilisation - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-3w">
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-mb-2w">
                    <h1 class="fr-my-3w fr-mt-md-5w">Conditions générales d'utilisation</h1>

                    <p><strong>....</strong></p>
                    <p>Cette page n'a pas d'objet</p>

                    <hr class="fr-col-12 fr-my-3w">

                    <h2>Présentation du service</h2>

                    <p>Blah blah...</p>

                </div>
            </div>
        </div>
    </div>
{% endblock%}
